.main {
  margin: 10px;
  padding: 10px;
  border :3px solid red;
  display : inline;
}

#firstname {
    background-color: lightblue;
}

#lastname {
    background-color: lightcoral;
}

#degree {
    background-color: lightgreen;
}

#designation {
    background-color: lightslategray;
    color:aqua;
}
.subject {
    margin: 10px;
    padding: 10px;
    border :3px  solid red;
    display :block;
}
#Course1{
    background-color: antiquewhite;
}

#Course2{
    background-color: rgb(223, 136, 23);
}
#Course3{
    background-color: rgb(111, 184, 111);
}
#Course4{
    background-color: rgb(49, 159, 233);
}


